version: '3.9'

services:
  backend:
    build:
      context: ./back_end
      dockerfile: Dockerfile
    ports:
      - "7279:80"               
    container_name: pos-backend
    restart: unless-stopped

  frontend:
    build:
      context: ./front_end
      dockerfile: Dockerfile
    ports:
      - "5173:80"               
    container_name: pos-frontend
    depends_on:
      - backend
    restart: unless-stopped